.container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  color: #121212;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
}

.stepsList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  position: relative;
}

.stepsList li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Green numbered circle */
.stepNumber {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: #00b140;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 1;
}

.stepsList li::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 26px;
  margin-top: 4px;
  width: 1px;
  height: 1px;
  background-color: #00b140;
  border-radius: 50%;
  box-shadow:
    0 4px 0 0.6px #00b140,   /* 2.2px diameter */
    0 8px 0 0.75px #00b140,  /* 2.5px diameter */
    0 12px 0 1px #00b140;    /* 3px diameter */
}



/* Hide dots after the last step */
.stepsList li:last-child::after {
  display: none;
}

.warning {
  font-size: 0.9rem;
  color: #555;
  font-style: italic;
}



.need_help {
font-weight: 700;
font-size: 48px;
line-height: 60px;
letter-spacing: -2%;
text-align: center;
margin-top: 70px;
margin-bottom: 20px;
}
