[build]
  base = "Push-Eat-Landing-Page"
  command = "npm run build"
  publish = "build"

[build.environment]
  NODE_VERSION = "18"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/chefs/*"
  to = "https://api.int.pusheat.co/chefs/:splat"
  status = 200
  force = true

[[headers]]
  for = "/deal/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Robots-Tag = "index, follow"
